.modInsert{
  border: 2px solid #222;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  background-color: white;
}

.modInsert form {
  padding: 5px 15px;
  background-color: #0E0255;
  color: #000;
  font-weight: bold;
  margin: 5px;

}


.btnCad{
  padding: 5px 15px;
  background-color: greenyellow;
  color: #000;
  font-weight: bold;
  margin: 5px;
  margin-left: 40%;
}


.btnFechar{
  padding: 5px 15px;
  background-color: red;
  color: #000;
  font-weight: bold;
  margin: 5px;
  margin-left: 80%;
}

.modInsert form label{
  display: inline-block;
  width: 80px;
}

.modInsert form input{
  padding: 5px;
  margin-bottom: 5px;

}

.fundo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3));
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloCadProd{
  color:#222;
  text-align: center;
}
.formProd{
  background-color: #0E0255;

}
.fieldProd{
  background-color: #0E0255;;
}
.info{
  color:#fff;
  font-weight: 700;
}
.img{
  margin-left: 40%;
}
